.template {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: medium;
	border-radius: 10px;
	border-color: lightblue;
	margin: 30px;
	padding-right: 30px;
	width: 400px;
	height: 180px;
	background-image: linear-gradient(to bottom, aqua, chartreuse);
}

.textTemplate {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}

.text{
	font-family: Papyrus, Fantasy;
	text-decoration: none;
	color: black;
}

.textLink:hover{
	background-color: cyan;
}

.image {
	margin-top: 50px;
	margin-left: 80px;
}
