.create{
	background-image: linear-gradient(mediumaquamarine, mediumspringgreen);
	border-radius: 20px 0;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.code{
	background-color: mediumaquamarine;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 0 20px;
}

.cod{
	margin: 10px;
}

.navActivity{
	display: flex;
	flex-direction: column;
}

.card{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 200px;
	height: 100px;
	background-image: linear-gradient(aquamarine, chartreuse);
	margin: 5% 45%;
	padding: 10px;
	border: medium;
	border-radius: 10px;
	border-style: outset;
}