.henry {
	background-image: linear-gradient(lightskyblue, lightseagreen);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 228px;
	padding: 3px;
	background-color: floralwhite;
	width: 26%;
	height: 32px;
	border-radius: 10px;
	font-family: Papyrus, fantasy;
	}

.logo {
	width: 70px;
	height: 26px;
	padding-left: 4px;
}


.home {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(lightskyblue, lightseagreen);
	background-size: 100%;
	background-attachment: scroll;
	letter-spacing: 1px;
}


.text {
	color: darkblue;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 0 10px 0 10px;
	text-align: center;
	font-size: 20px;
	background-image: linear-gradient(to right, deepskyblue, powderblue);
	border-radius: 40px;
	font-family: Papyrus, fantasy;
}

.buttonHome {
	margin-top: 3%;
	background-color: darkslategray;
	box-shadow: 0 7px lightgray;
	border-radius: 10px;
	border-style: hidden;
	padding: 10px;
	font-family: Papyrus, fantasy;

}

.buttonHome:hover{
	padding-right: 25px;
}

.buttonHome:active{
	background-color: darkgray;
	box-shadow: 0 5px lightgray;
}