body {
	background-image: url("C:\Users\usuario\Desktop\Desarollo-web\Carrera Desarrolo web\PI Countries\PI-Countries-main\client\src\Imagen de fondo\Portada.jpg");
	background-size: 100%;
	background-attachment: scroll;
}

.title {
	color: #BBAE81;
}


.home {
	display: flex;
	font-family: Tahoma(sans-serif);
	margin-left: 50px;
	margin-top: 50px;
	flex-direction: column;
	float: left;
}