.fondo{
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 10px;
	border-radius: 20px;
	font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
	font-size: 20px;
	background-color: mintcream;
}

.back{
	background-color: blanchedalmond;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.detail{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: justify;
	margin: 25px;
}

.activities{
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
}

.cardActivity{
	background-color: aquamarine;
	margin: 15px;
	padding: 10px;
	border-radius: 20%;
	
}

.center{
	display: flex;
	justify-content: center;
}

.bandera{
	margin-top: 80px;
	margin-right: 10px;
}

.gif {
	border-radius: 50%;
}

.buttons{
	background-color: white;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	font-size: 15px;
}

.buttons:hover{
	background-color: turquoise;
}

.links{
	background-color: aquamarine;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 25% 0 25%;
	border-radius: 15px;
}

.enlace {
	text-decoration: none;
	font-family: Papyrus, fantasy;
}